body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.voltar {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.voltar:hover {
    background: #0056b3;
}

label {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

input{
    width: 100%;
    max-width: 400px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border: 0;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    margin-top: 20px;
}

th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.urgente {
    color: red;
}



